html, body {
    height: 100%;
    font-family: arial, verdana;
    color: #362222;
    background: url("../img/back-33ced25fd86a5f0e82e6857fd7541596.jpg") repeat scroll left top #018caf;
    font-size: 13px;
    line-height: 20px;
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/fonts/BebasNeue-webfont.eot');
    src: url('/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/BebasNeue-webfont.woff') format('woff'),
    url('/fonts/BebasNeue-webfont.ttf') format('truetype'),
    url('/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a {
    color: #00aee1;
    text-decoration: none;
}
.navbar {
    background: #ffffff;
    display: table;
    border-bottom: solid 1px #e4e4e4;
    height: 50px;
    padding: 12px 0 13px;
    width: 100%;
    z-index: 1000;
}
.navbar .nav {
    display: block;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;
}
.v-aligner {
    display: table-cell;
    vertical-align: middle;
}
.container:after {
    clear: both;
}
.container {
    margin: 0 10px;
}
.container:before, .container:after {
    content: "";
    display: table;
    line-height: 0;
}
.navbar .brand {
    color: #777;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: -20px;
    padding: 10px 20px;
    text-shadow: 0 1px 0 #fff;
}
.navbar ul.nav {
    padding: 3px 0 0;
}
.navbar .nav > li.logo {
    float: left;
}
.navbar .nav > li.logo a {
    margin-left: 0;
    font-size: 35px;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    color: #000000 !important;
}
.navbar .nav > li.logo a span {
    color: #00b0dd;
    padding-right: 5px;
}
.navbar .nav > li {
    float: right;
}
.navbar ul.nav li a {
    color: #362222;
    display: block;
    font-size: 11px;
    height: 38px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 0 0 0 40px;
    padding: 0;
    text-shadow: none;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
    text-decoration: none;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
}
.navbar ul.nav li a:hover {
    color: rgb(0, 159, 227);
}
.page {
    width: 960px;
    margin: auto;
    background: #ffffff;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;

    background: #ffffff;
}
h1 {
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.body {
    padding: 10px;
    background: #ffffff;
}
table, table td, table {
    border-collapse: collapse;
}
.month-product-list td, .month-product-list th {
    padding: 5px;
    text-align: left;
    width: 25%;
}
.month-product-list table span {
    color: #999;
    font-size: 10px;
}
.month-product-list table th {
    font-size: 10px;
    color: #999;
}
.month-product-list table td, .month-product-list table th {
    border-bottom: solid 1px #e4e4e4;
}
.month-product-list {

}
    .month-product-list table {
        width: 100%;
    }
    .month-product-list-right {

    }
    .month-product-list .last {
        text-align: right;
        padding-top: 20px;
    }
        .month-product-list .last span {
            display: block;
            margin-top: 20px;
        }
i.number {
    font-family: georgia;
    font-style: italic;
}
.button {
    background-color:#3bb3e0;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    position:relative;
    padding:10px 20px;
    border-left:solid 1px #2ab7ec;
    margin-left:18px;
    background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(44,160,202)),
        color-stop(1, rgb(62,184,229))
    );
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.button:active {
    top:3px;
    background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(62,184,229)),
        color-stop(1, rgb(44,160,202))
    );
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}
footer ul li a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Lato',sans-serif;
}
footer ul li a:hover {
    text-decoration: none;
}
footer ul li {
    display: inline;
    padding: 0 10px;
}
footer {
    padding: 15px;
    text-align: center;
}
footer p.copy {
    color: #ffffff;
    margin-top: 15px;
}
.in-text {
    background: none repeat scroll 0 0 #fcfeff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 -1px 0 0 #008baf;
    color: #22464f;
    font-size: 15px;
    height: 23px;
    line-height: 23px;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 4px 60px 6px 10px;
    text-overflow: ellipsis;
    width: 189px;
}
.bg1-block {
    background: url("../img/c-spec-offers-3492a30e38dab25fa7d21651a8e37041.png") repeat scroll left top #00b0dd;
    margin-left: -10px;
    margin-right: -10px;
    padding: 15px;
}
.search input[type=text] {
    width: 760px;
}
    .search .button {
        float: right;
        margin-top: -8px;
    }
    .bank-block {
        float: left;
        margin-top: 15px;
        border: solid 1px #00b0dd;
    }
.bank-block img {
    display: block;
}

    .clear {
        clear: both;
    }